// 2017-04-13
// 2017-04-14
// [iPay88] The available payment options for Malaysia: https://mage2.pro/t/3635
form.dfe_ipay88 {
	 .choice label {
		display: inline-block;
		cursor: pointer;
		color: transparent;
	}
	// 2017-04-13 Maybank (Maybank2U)
	.df-option-6 label {background: url('./i/maybank.png'); width: 200px; height: 54px;}
	// 2017-04-13 Alliance Bank (Alliance Online)
	.df-option-8 label {
		background: url('./i/alliance-bank.png') center no-repeat;
		width: 193px; height: 32px; padding: 11px 0;
	}
	// 2017-04-13 AmBank (AmOnline)
	.df-option-10 label {background: url('./i/ambank.png'); width: 91px; height: 63px;}
	// 2017-04-13 RHB Bank (RHB Online)
	.df-option-14 label {
		background: url('./i/rhb-bank.png') center no-repeat;
		width: 112px; height: 36px; padding: 6px 0;
	}
	// 2017-04-14 Hong Leong Bank (Hong Leong Online)
	.df-option-15 label {background: url('./i/hong-leong-bank.png');  width: 200px; height: 39px;}
	// 2017-04-14 CIMB Bank
	.df-option-20 label {
		background: url('./i/cimb-bank.png') center no-repeat;
		width: 200px; height: 32px; padding: 11px 0;
	}
	// 2017-04-14 Bank Rakyat Internet Banking
	.df-option-102 label {background: url('./i/bank-rakyat.png');  width: 200px; height: 45px;}
	// 2017-04-14 Affin Bank (affinOnline)
	.df-option-103 label {background: url('./i/affin-bank.png');  width: 200px; height: 51px;}
	// 2017-04-14 Bank Islam
	.df-option-134 label {background: url('./i/bank-islam.png');  width: 200px; height: 46px;}
	// 2017-04-14 Bank Islam
	.df-option-152 label {background: url('./i/uob.png');  width: 143px; height: 50px;}
}