<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<ipay88>
				<countries>MY</countries>
				<country_restriction>whitelist</country_restriction>
				<currency>MYR</currency>
				<description>{store.domain} // {customer.name} // {order.id}</description>
<!-- 2017-08-13
*) Param name: `RefNo`
*) Param type and limitations: «String, 30»
*) Reference: Chapter 2.3 «Payment Request Parameter» (page 6) of the PDF documentation
(«Technical Specification v1.6.2 (for Malaysia Only)»): https://mage2.pro/t/3682
@see \Dfe\IPay88\Charge::k_RequestId() https://github.com/mage2pro/ipay88/blob/1.1.5/Charge.php#L12-L20
-->
				<identification_rules>
					<max_length>30</max_length>
				</identification_rules>
				<messageFailure><![CDATA[Sorry, the payment attempt is failed.
<br/>The payment service's message is «<b>{originalMessage}</b>».
<br/>Please try again, or try another payment method.]]></messageFailure>
				<optionsLocation>magento</optionsLocation>
				<optionsPrompt><![CDATA[Please select a payment option:]]></optionsPrompt>
				<requireBillingAddress>1</requireBillingAddress>
				<payment_action>authorize_capture</payment_action>
				<title>iPay88</title>
				<title_backend>iPay88</title_backend>
			</ipay88>
		</df_payment>
        <payment>
            <dfe_ipay88>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\IPay88\Method</model>
            </dfe_ipay88>
        </payment>
    </default>
</config>