<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<type name='Dfe\IPay88\Block\Info'>
		<arguments>
			<argument name='data' xsi:type='array'>
				<item xsi:type='const' name='methodCode'>Dfe\IPay88\Method::CODE</item>
			</argument>
		</arguments>
	</type>
	<virtualType name='Dfe\IPay88\Controller\Confirm\Index' type='Df\Payment\W\Action'/>
	<virtualType name='Dfe\IPay88\Controller\CustomerReturn\Index' type='Df\Payment\CustomerReturn'/>
</config>