<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='ipay88'
				translate='label'
				type='text'
				sortOrder='916'
				showInDefault='1'
				showInWebsite='1'
				showInStore='1'
			>
				<label>iPay88</label>
				<dfExtension>Dfe_IPay88</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/ipay88' target='_blank'>iPay88</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testPublicKey'
					translate='label'
					type='text'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Merchant Code</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/2778' target='_blank'>How to get it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testPrivateKey'
					translate='label'
					type='obscure'
					sortOrder='5'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Merchant Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/2778' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePublicKey'
					translate='label'
					type='text'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Merchant Code</label>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePrivateKey'
					translate='label'
					type='obscure'
					sortOrder='7'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Merchant Key</label>
					<comment><![CDATA[]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='description'
					translate='label'
					type='textarea'
					sortOrder='8'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Description</label>
					<comment><![CDATA[It will be displayed to you in the iPay88 merchant interface alongside the payment.
<br/>Up to 100 characters.
<br/>You can use <a href='https://mage2.pro/t/1834' target='_blank'>variables</a> in the description.]]></comment>
<!--
2016-07-01
Не используем здесь validate-length, потому что описание допускает параметры,
и реальная длина описания нам не известна вплоть до момента вычисления значения этих параметров.
-->
					<validate>required-entry</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='messageFailure'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
					dfRows='4'
					sortOrder='9'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Failure Message</label>
					<comment><![CDATA[The failure message will be displayed to the customer on the checkout screen when the customer returns from the iPay88 payment page to the store after an unsuccessful payment attempt.
<br/>You can use HTML tags and the following variables in the template: <table class='df-note'><tbody>
		<tr>
			<td>{originalMessage}</td>
			<td>A message from allPay<br/>(a value of the «<code>ErrDesc</code>» response parameter)</td>
		</tr>
</tbody></table>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='16'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behaviour.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					translate='label'
					type='text'
					sortOrder='19'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					translate='label'
					type='text'
					sortOrder='20'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					translate='label'
					type='select'
					sortOrder='21'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
					sortOrder='22'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>